.gamebar {
    background-color: rgb(62, 63, 68);
    color: white;
    width: 100%;
}

.gamebar * {
    display: inline-block;
}

.game-info {
    display: inline-flex;
    width: 20%;
    float: left;
    justify-content: space-around;
}

.timer {
    min-width: 35px;
}