* {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  text-align: center;
  background-image: url(./background_pattern.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(62, 63, 68);
}

main {
  height: 100%;
  width: 100%;
}
