nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(60, 129, 208);
    width: 100%;
}
  
nav ul {
    margin: inherit;
    width: inherit;
    padding: inherit;
}
  
nav li {
    display: inline-block;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin: 0 20px;
}
  
nav ul :hover {
    text-decoration: underline;
}
  
nav #logo {
    display: inline-block;
    width: 40px;
    margin: 5px 0;
    vertical-align: middle;
}
  
nav .primary-navbar {
    float: left;
}
  
nav .secondary-navbar {
    float: right;
}

#flag {
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
    outline: none;
}

#flag img {
    height: 30px;
}

#bala-easter-egg {
    display: none;
}  