.videocam {
    border: 3px solid black;
    min-width: 400px;
    height: 100%;
    flex: 1 1;
    margin: 0 20px;
}

.container {
    padding: 20px;
    display: flex;
    height: 100vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.row {
    display: flex;
    width: 100%;
}

video {
    height: 40%;
    width: 50%;
    border: 1px solid blue;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}