.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(62, 63, 68);
    color: white;
    padding: 20px 20px;
    text-align: left;
}

#startButton {
    background-color: rgb(60, 129, 208);
    width: 100%;
    margin: 20px auto 0px auto;
    border-radius: 10px;
    color: white;
}

.not-clickable {
    cursor: not-allowed;
    opacity: 0.5;
}